.bt {
  width: 20%;
  margin: 0;
  margin: 0 2%;
  border: 0;
}
h1 {
  position: absolute;
  display: inline-block;
  margin: auto;
  color: #411530;
  font-size: 1.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.top {
  height: 16%;
  background-color: #e4d192;
  width: auto;
}
.top1 {
  position: relative;
  height: 60%;
  text-align: center;
}
.top2 {
  text-align: center;
}
.bottom {
  height: 84%;
  background-color: #cba0ae;
  position: relative;
}
.over {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.container {
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.grid {
  margin: 0 1%;
  height: 20px;
  background-color: #80558c;
}
.up {
  position: fixed;
  right: 0;
  left: 0;
  height: 100%;
  padding: 0 4%;
}
.start,
.newval,
.sorting-tech {
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 11px;
  padding: 15px;
}
